ul.rounded li em {
    display: block;
    font-size: 14px;
    font-style: normal;
    color: #444;
    width: 50%;
    line-height: 14px;
}

#main .inRegister {
    text-align: center;
    font-size: larger;
}

#jqt .button.left {
    left: 6px;
    right: auto;
}
